body {
    background-color: #fffbf7;
}

.fixed-header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
}

.header {
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
}

li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo {
    width: 15%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
}

.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
  }

.actions a {
    color: #67b54b;
  }

.actions button {
    color: #fff;
    background-color: #67b54b;
    padding: 14px 12px 14px 12px;
    border: 0;
    border-radius: 5px;
  }

  .promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
  } 

  .video img {
    width: 120px;
    margin-top: 10px;
  }

  .ad {
    font-family: sans-serif;
  }
  
  .ad h4 {
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .ad > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .ad > form {
    display: flex;
  }
  
  .ad > form p {
    color: #025157;
    margin-right: 18px;
  }

  .ad input {
    padding: 14px 12px 14px 12px;
    border: 0.5px solid;
    border-radius: 5px;
    border-color: rgb(168, 168, 168);
  }

  .ad button{
    color: #fff;
    background-color: #025157;
    padding: 14px 12px 14px 12px;
    border: 0;
    border-radius: 5px;
  }


.testimonials {
  display: flex;
  width: 70%;
  align-items: center;
  background-color: #a1d683;
  justify-content: space-around;
  font-family: sans-serif;
  padding: 3% 15%
}

  .testimonials article {
    display: block;
  }

  .testimonials h3 {
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }

  .testimonials > p {
    font-size: 18px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .trademarks {
    flex-direction: column;
    align-items: left;
    margin: 70px;
  } 
    
  .trademarks img {
    width: 400px;
  }

  .trademarks button{
    color: #fff;
    background-color: #025157;
    padding: 14px 12px 14px 12px;
    border: 0;
    border-radius: 5px;
    margin: 0px;
  }

  figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

.card {
  background-color: #fff;
  border-radius: 7px;
  width: 100%;
}

.slide button{
  color: #fff;
  background-color: #025157;
  padding: 14px 12px 14px 12px;
  border: 0;
  border-radius: 5px;
  margin: 10px 10px 35px 10px;
  width: 95%;
}

.offer h6 {
  font-size: 20px;
  color: #009da8;
  margin: 30px 0px 0px 12px;
}

.offer p {
  font-size: 22px;
  color: #343434;
  line-height: 1.5;
  margin: 10px 0px 0px 12px;
}

.slide {
  flex-direction: column;
  align-items: left;
  margin: 70px;
} 


.offer img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.results {
  display: flex;
  margin: 20px 0px 35px 23px;
}

.results img {
  margin: 10px 0px 0px 12px;
  padding: 15px 15px 15px 15px;
  width: 8%;
}

.results p {
  font-size: 20px;
  color: #a0a0a0;
  line-height: 1.5;
  margin: 10px 0px 0px 12px;
}

.company {
  position: absolute;
    bottom: -150px;
    right: 380px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features {
  display: grid;
  height: 660px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  padding: 5% 10%;
  background-color: #025157;
  font-family: sans-serif;
}  

  .features-content {
    margin: 30px 15px 0px 15px;
    background-color: white;
    align-items: center;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
  }

  .features-art {
    padding: 30px 20px 40px 40px;
    width: 60%;
  }

  .features-art img {
    width: 60px;
  }
  
  .features-art > h3 {
    font-size: 25px;
  }

  .features-art > p {
    font-size: 15px;
    color: #7e7e7e;
  }

  .features-art > a {
    color: #67b54b;
    text-decoration: none;
  }

  .feature-img {
    width: 40%;
    position: relative;
    height: 95%;
  }

  .feature-img-box {
    height: 250px;
  }

  .feature-img-box2 {
    height: 250px;
    padding-left: 60px;
  }


.work {
  padding: 5% 10%;
  text-align: center;
  font-family: sans-serif;
}

  .work h2 {
    font-size: 40px;
    color: #025157;
  }

  .work > p {
    font-size: 18px;
    color: #46484c;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .work > a {
    text-decoration: none;
    color: #67b54b;
  }


  .work button{
    color: #fff;
    background-color: #025157;
    padding: 14px 12px 14px 12px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 50px;
  }

  .steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }  

  .step {
    border: 1px solid #343434;
    border-radius: 5px;
    background-color: white;
    margin: 0px 20px 0px 20px;
  }

  .step-img {
    position: relative;
    height: 350px;
  }

  .step-img img {
    width: 100%;
    height: 100%;
  }

  .step-content {
    height: 170px;
    text-align: left;
  }

  .step-content h3 {
    font-size: 25px;
    color: #025157;
    text-align: center;
  }

  .step-content > p {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .step-content > a {
    font-size: 16px;
    padding-left: 10px;
    text-decoration: none;
    color: #67b54b;
  }



